site_name: OnSSET
site_url: https://onsset.org/
repo_url: https://github.com/OnSSET/website
repo_name: OnSSET/website
edit_uri: edit/main/docs/

theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.top
    - navigation.footer
    - navigation.sections
    - navigation.indexes
    - navigation.expand
    - toc.integrate
    - content.code.copy
    - content.action.edit
    - search.suggest
    - search.highlight

  palette:
    - scheme: default
      primary: black
      accent: indigo
    - scheme: slate
      primary: black
      accent: indigo
  font:
    text: Inter
    code: JetBrains Mono

nav:
  - Home: index.md
  - Get started: get-started.md
  - Data: data.md
  - Learn: learn.md
  - Community: community.md
  - Governance: governance.md
  - Contribute: contribute.md
  - Publications: publications.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/orgs/OnSSET/repositories
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/98958988/

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/external-links.js

